@font-face {
    font-family: "Shrikhand";
    src: url('Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
}

.logo {
    font-family: "Shrikhand";
    text-align: center;
    margin: 0;
    flex: 1;
}

.conteneur_header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.retour {
    font-size: x-large;
    margin-left: 1rem;
}

body {
    margin: 0;
    font-family: "Roboto";
}

img {
    width: 100%;
}

.section_recettes {
    background-color: #eaeaea;
    border-radius: 3rem 3rem 0 0;
    margin-top: -80px;
    position: relative;
}

.titre {
    font-family: "Shrikhand";
}

.titre_like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.icone_like {
    font-size: 30px;
}

.titre {
    font-family: "Roboto";
}

.entrees {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.articles {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.article {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

.description_prix {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 5px;
}

.nom {
    margin: 5px 0 5px 5px;
}

.description {
    margin: 0;
}

.prix {
    margin: 0 1rem 0 0;
}