@font-face {
    font-family: "Shrikhand";
    src: url('Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
}

.logo {
    font-family: "Shrikhand";
    text-align: center;
    margin: 0;
    flex: 1;
}

.conteneur_header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.retour {
    font-size: x-large;
    margin-left: 1rem;
    color: black;
}

body {
    margin: 0;
    font-family: "Roboto";
}

img {
    width: 100%;
    height: 20rem;
}

.section_recettes {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    border-radius: 3rem 3rem 0 0;
    margin-top: -80px;
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
    row-gap: 2rem;
}

.titre_restaurant {
    font-family: "Shrikhand";
}

.titre_like {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone_like {
    font-size: 30px;
}

.titre {
    font-family: "Roboto";
}

.entrees {
    display: flex;
    flex-direction: column;
}

.articles {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.article {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
}

.description_prix {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 5px;
}

.nom {
    margin: 5px 0 5px 5px;
}

.description {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1rem;
}

.prix {
    margin: 0 1rem 0 0;
}

.plats {
    display: flex;
    flex-direction: column;
}

.desserts {
    display: flex;
    flex-direction: column;
}

.commander {
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 2rem;
    border: 0px;
    place-self: center;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: medium;
}

footer {
    background-color: rgb(37, 36, 36);
    padding: 1rem 1rem 3rem 1rem;
    color: white;
    font-family: "Roboto";
}

.icone_footer {
    color: white;
    width: 20px;
}

.logo_footer {
    font-family: "Shrikhand";
    font-size: 18px;
}

.proposer_restaurant {
    display: flex;
    align-items: center;
    height: 19px;
    margin-top: 5px;
}

.devenir_partenaire {
    display: flex;
    align-items: center;
    height: 19px;
    margin-top: 5px;
}

.titre_footer_icone {
    margin-left: 10px;
}

.mentions_contact {
    margin-top: 5px;
    margin-bottom: 0px;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}