@font-face {
    font-family: "Shrikhand";
    src: url('Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
}

.logo {
    font-family: "Shrikhand";
    text-align: center;
}

.titre {
    font-family: "Shrikhand";
}

body {
    margin: 0;
}

.section_localisation {
    background-color: #c5c5c5;
}

.localisation {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.nom_localisation {
    font-family: "Roboto";
    margin-left: 15px;
}