@font-face {
    font-family: "Shrikhand";
    src: url('Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
}

.logo {
    font-family: "Shrikhand";
    text-align: center;
    margin: 0;
}

.titre {
    font-family: "Shrikhand";
}

body {
    margin: 0;
}

.header {
    padding: 1rem;
}

section {
    font-family: "Roboto";
}

.section_localisation {
    background-color: #c5c5c5;
}

.localisation {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.nom_localisation {
    font-family: "Roboto";
    margin-left: 15px;
}

.section_explorer {
    background-color: #eaeaea;
    font-family: "Roboto";
    padding: 1rem 3rem 3rem 3rem;
}

.reserver {
    text-align: center;
}

.decouvrir {
    text-align: center;
}

.explorer {
    padding: 1rem;
    border-radius: 2rem;
    border: 0px;
    place-self: center;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-size: medium;
}

.reservation {
    display: flex;
    flex-direction: column;
}

.section_fonctionnement {
    padding: 0 1rem 0 1rem;
}

.article {
    display: flex;
    align-items: center;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 1rem;
    width: 100%;
}

.interieur {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
}

.numero {
    background-color: #9356DC;
    padding: 0.3rem;
    border-radius: 0.8rem;
    color: white;
    height: 1rem;
    width: 1rem;
    text-align-last: center;
    margin: 0 0 0 -0.7rem;
}