@charset "UTF-8";
/*
Spinner par https://loading.io/css/
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto&display=swap");
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #ededed;
  z-index: 1;
  animation: loading 1s;
  animation-delay: 5s;
  animation-fill-mode: both;
}
.loader__titre {
  font-family: "Shrikhand", "cursive";
}
.loader .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
  background: #9356DC;
}
.loader .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
  background: #FF79DA;
}
.loader .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
  background: #99E2D0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
@keyframes show-loading {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/*
.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: grey;
    color: white;
    z-index: 1;
}*/
.heart-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.heart-clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  clip-path: url(#svgPath);
}
.heart-clip:hover::before {
  transform: scale(1);
  opacity: 1;
}
.heart-clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
}

.heart-stroke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.heart-home {
  margin-right: 1rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}
button {
  border-radius: 2rem;
  border: 0px;
  place-self: center;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: medium;
  cursor: pointer;
  font-family: "Roboto";
}
button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.explorer {
  padding: 1rem;
}

.commander {
  padding: 1rem 3rem 1rem 3rem;
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf");
}
header {
  padding: 1rem;
}
header .logo {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  margin: 0;
}
header .wrapper {
  max-width: 1440px;
  margin: auto;
}

.footer {
  background-color: #252424;
  padding: 1rem 1rem 3rem 1rem;
  color: white;
  font-family: "Roboto";
}
.footer__wrapper {
  max-width: 1440px;
  margin: auto;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer__icone_footer {
  color: white;
  width: 20px;
}
.footer__logo_footer {
  font-family: "Shrikhand";
  font-size: 18px;
}
.footer__proposer_restaurant {
  display: flex;
  align-items: center;
  height: 19px;
  margin-top: 5px;
}
.footer__devenir_partenaire {
  display: flex;
  align-items: center;
  height: 19px;
  margin-top: 5px;
}
.footer__titre_footer_icone {
  margin-left: 10px;
}
.footer__mentions_contact {
  margin-top: 5px;
  margin-bottom: 0px;
}
.footer__underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer__propositions_footer {
  display: flex;
}
@media (max-width: 425px) {
  .footer__propositions_footer {
    flex-direction: column;
  }
}
@media (min-width: 426px) {
  .footer__propositions_footer {
    column-gap: 2rem;
  }
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}
body {
  margin: 0;
  position: relative;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

section {
  font-family: "Roboto";
}

.section_localisation {
  background-color: #ededed;
}

.localisation {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.nom_localisation {
  font-family: "Roboto";
  margin-left: 15px;
}

.section_explorer {
  background-color: #f7f7f7;
  font-family: "Roboto";
  padding: 1rem 3rem 3rem 3rem;
}

.reserver {
  text-align: center;
}

.decouvrir {
  text-align: center;
}

.reservation {
  display: flex;
  flex-direction: column;
}

.section_fonctionnement {
  padding: 1rem 1rem 3rem 1rem;
}

.article {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.5rem;
  width: 100%;
  height: 65px;
}

.article:hover {
  background-color: #e3d7f1;
  cursor: pointer;
}

.interieur {
  display: flex;
  align-items: center;
}

.numero {
  background-color: #9356DC;
  padding: 0.3rem;
  border-radius: 0.8rem;
  color: white;
  height: 1rem;
  width: 1rem;
  text-align-last: center;
  margin: 0 0 0 -0.7rem;
}

.etapes {
  display: grid;
  grid-gap: 2rem;
}

.nom_etape {
  font-weight: 600;
}

.icone_etape {
  padding: 0 0px 0 30px;
  width: 3rem;
  color: grey;
}

.icone_etape_trois {
  padding: 0 0px 0 30px;
  width: 3rem;
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.restaurant {
  border-radius: 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image_restaurant {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 10rem;
}

.section_restaurants {
  background-color: #f7f7f7;
  padding: 3rem 1rem 3rem 1rem;
}

.titre {
  text-decoration: none;
  flex: 1;
}

.nom_restaurant {
  color: black;
  font-weight: 600;
  margin: 0.5rem 0 0 0.5rem;
}

.nom_quartier {
  color: black;
  margin: 0 0 0.5rem 0.5rem;
}

.details {
  display: flex;
  align-items: center;
  height: 60px;
}

.noms {
  flex: 1;
}

.like {
  margin-right: 1rem;
}

.icone_like {
  font-size: 23px;
  color: black;
}

.nouveau {
  color: green;
  background-color: #99E2D0;
  position: absolute;
  right: 2rem;
  margin-top: 1rem;
  padding: 0.3rem 0.8rem;
}

/*Pour les écrans de moins de 1024px de largeur*/
@media (max-width: 1023px) {
  .propositions_footer {
    flex-direction: column;
  }
}
/* 1024px < width < 1439px */
@media (min-width: 1024px) and (max-width: 1439px) {
  .etapes {
    display: flex;
    justify-content: space-between;
  }

  .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .propositions_footer {
    column-gap: 2rem;
  }
}
@media (min-width: 1440px) {
  .etapes {
    display: flex;
    justify-content: space-between;
  }

  .article {
    width: 25%;
  }

  .restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .image_restaurant {
    height: 15rem;
  }

  .propositions_footer {
    column-gap: 2rem;
  }
}

/*# sourceMappingURL=homepage.css.map */
