@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto&display=swap");
@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.heart-container {
  position: relative;
  width: 40px;
  height: 40px;
}

.heart-clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.heart-clip:hover::before {
  transform: scale(1);
  opacity: 1;
}
.heart-clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.2s linear, opacity 0.2s linear;
  transform-origin: center 60%;
}

.heart-stroke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.heart-home {
  margin-right: 1rem;
}

.heart-path1 {
  clip-path: url(#svgPath1);
}

.heart-path2 {
  clip-path: url(#svgPath2);
}

.heart-path3 {
  clip-path: url(#svgPath3);
}

.heart-path4 {
  clip-path: url(#svgPath4);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}
button {
  border-radius: 2rem;
  border: 0px;
  place-self: center;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: medium;
  cursor: pointer;
  font-family: "Roboto";
}
button:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}
button:active {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.explorer {
  padding: 1rem;
}

.commander {
  padding: 1rem 3rem 1rem 3rem;
}

header {
  padding: 1rem;
}
header .logo {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  margin: 0;
}
header .wrapper {
  max-width: 1440px;
  margin: auto;
}

.footer {
  background-color: #353535;
  padding: 1rem 1rem 3rem 1rem;
  color: white;
  font-family: "Roboto";
}
.footer__wrapper {
  max-width: 1440px;
  margin: auto;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer__icone_footer {
  color: white;
  width: 20px;
}
.footer__logo_footer {
  font-family: "Shrikhand";
  font-size: 18px;
}
.footer__proposer_restaurant {
  display: flex;
  align-items: center;
  height: 19px;
  margin-top: 5px;
}
.footer__devenir_partenaire {
  display: flex;
  align-items: center;
  height: 19px;
  margin-top: 5px;
}
.footer__titre_footer_icone {
  margin-left: 10px;
}
.footer__mentions_contact {
  margin-top: 5px;
  margin-bottom: 0px;
}
.footer__underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer__propositions_footer {
  display: flex;
}
@media (max-width: 425px) {
  .footer__propositions_footer {
    flex-direction: column;
  }
}
@media (min-width: 426px) {
  .footer__propositions_footer {
    column-gap: 2rem;
  }
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf");
}
.logo {
  font-family: "Shrikhand";
  text-align: center;
  margin: 0;
  flex: 1;
}

.header_conteneur {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.retour {
  font-size: x-large;
  margin-left: 1rem;
  color: black;
}

body {
  margin: 0;
  font-family: "Roboto";
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}

img {
  width: 100%;
  object-fit: cover;
}

.titre_restaurant {
  font-family: "Shrikhand";
}

.titre_like {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icone_like {
  font-size: 30px;
  cursor: pointer;
}

.titre {
  font-family: "Roboto";
  margin-bottom: 5px;
}

.soulignement {
  border-top: 3px solid #99E2D0;
  width: 40px;
}

.choix {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.article-1 {
  animation: apparition 0.2s;
}

.article-2 {
  animation: apparition 1s;
}

.article-3 {
  animation: apparition 2s;
}

.article-4 {
  animation: apparition 3s;
}

.articles {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.article {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  cursor: pointer;
  height: 4rem;
  align-items: center;
}
.article__description_prix {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 5px;
}
.article__nom {
  margin: 5px 0 5px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article__description {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 1rem;
}
.article__prix {
  margin: 0 1rem 0 0;
}
.article__nom_description_prix {
  flex: 1;
  width: 65%;
}
.article__coche {
  /*margin: -1rem -5rem -1rem 1rem;*/
  width: 0;
  display: flex;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  height: 4.5rem;
  border-radius: 0rem 1rem 1rem 0rem;
}
.article:hover .article__coche {
  margin-right: -4px;
  background-color: #99E2D0;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  height: 4.5rem;
  border-radius: 0rem 1rem 1rem 0rem;
}
.article:hover .article__icone_coche {
  transform: rotate(0);
  height: 1.6rem;
  width: 1.6rem;
  background-color: #99E2D0;
  visibility: visible;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition-duration: 0.5s;
}
.article__icone_coche {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #99E2D0;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
  visibility: hidden;
}
.article__icone {
  color: white;
  font-size: x-large;
}

@media (max-width: 1023px) {
  .propositions_footer {
    flex-direction: column;
  }

  .entrees_plats_desserts {
    display: flex;
    flex-direction: column;
  }

  img {
    max-height: 27rem;
  }

  .section_recettes {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    border-radius: 3rem 3rem 0 0;
    margin-top: -80px;
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
    row-gap: 2rem;
  }

  .wrapper {
    margin: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  img {
    max-height: 17rem;
  }

  .section_recettes {
    background-color: #eaeaea;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: -4px;
  }

  /*.article {
      width: 320px;
  }*/
  .entrees_plats_desserts {
    display: flex;
    flex-direction: column;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .propositions_footer {
    column-gap: 2rem;
  }

  .wrapper {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .propositions_footer {
    column-gap: 2rem;
  }

  .entrees_plats_desserts {
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
    /*width: 1024px;*/
  }

  .section_recettes {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    position: relative;
    padding: 1rem 1rem 3rem 1rem;
    row-gap: 2rem;
  }

  img {
    max-height: 24rem;
  }

  .image {
    background-color: #eaeaea;
  }

  .titre_like {
    column-gap: 5rem;
  }

  .article {
    width: 400px;
  }
  .article__nom {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .article__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

/*# sourceMappingURL=menu.css.map */
