@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto&display=swap');
@import '../themes/variables';
@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
}

button {
    border-radius: 2rem;
    border: 0px;
    place-self: center;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    font-size: medium;
    cursor: pointer;
    font-family: "Roboto";
}

.explorer {
    padding: 1rem;
}

.commander {
    padding: 1rem 3rem 1rem 3rem;
}