@font-face {
    font-family: "Shrikhand";
    src: url('Shrikhand-Regular.ttf');
}

header {
    padding: 1rem;
    .logo {
        font-family: "Shrikhand", 'cursive';
        text-align: center;
        margin: 0;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
}