@import '../utils/flexbox';
@import '../themes/variables';
@import '../layouts/mediaqueries';
@import '../composants/like';
@import '../composants/button';
@import '../composants/header';
@import '../composants/footer';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto&display=swap');
@font-face {
    font-family: "Shrikhand";
    src: url('Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('Roboto-Regular.ttf');
}

.logo {
    font-family: "Shrikhand";
    text-align: center;
    margin: 0;
    flex: 1;
}

.header_conteneur {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 60px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.retour {
    font-size: x-large;
    margin-left: 1rem;
    color: black;
}

body {
    margin: 0;
    font-family: "Roboto";
}

.wrapper {
    max-width: 1440px;
    margin: auto;
}

img {
    width: 100%;
    object-fit: cover;
}

.titre_restaurant {
    font-family: "Shrikhand";
}

.titre_like {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone_like {
    font-size: 30px;
    cursor: pointer;
}

.titre {
    font-family: "Roboto";
    margin-bottom: 5px;
}

.soulignement {
    border-top: 3px solid $color-tertiary;
    width: 40px;
}

.choix {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.articles {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.article {
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
    cursor: pointer;
    height: 4rem;
    align-items: center;
    &__description_prix {
        display: flex;
        justify-content: space-between;
        margin: 0 0 5px 5px;
    }
    &__nom {
        margin: 5px 0 5px 5px;
    }
    &__description {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 1rem;
    }
    &__prix {
        margin: 0 1rem 0 0;
    }
    &__nom_description_prix {
        flex: 1;
    }
    &__coche {
        /*margin: -1rem -5rem -1rem 1rem;*/
        // width: 4rem;
        width: 0;
        display: flex;
        background-color: $color-tertiary;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;
        height: 4.5rem;
        border-radius: 0rem 1rem 1rem 0rem;
    }
    &:hover &__coche {
        margin-right: -4px;
        background-color: $color-tertiary;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;
        height: 4.5rem;
        border-radius: 0rem 1rem 1rem 0rem;
    }
    &:hover &__icone_coche {
        transform: rotate(0);
        height: 1.6rem;
        width: 1.6rem;
        background-color: $color-tertiary;
        visibility: visible;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transition-duration: .5s;
    }
    &__icone_coche {
        height: 1.6rem;
        width: 1.6rem;
        background-color: $color-tertiary;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 100px;
        transform: rotate( 180deg);
        transition-duration: .5s;
        visibility: hidden;
    }
    &__icone {
        color: white;
    }
}

@media (max-width: 1023px) {
    .propositions_footer {
        flex-direction: column;
    }
    .entrees_plats_desserts {
        display: flex;
        flex-direction: column;
    }
    img {
        max-height: 27rem;
    }
    .section_recettes {
        display: flex;
        flex-direction: column;
        background-color: #eaeaea;
        border-radius: 3rem 3rem 0 0;
        margin-top: -80px;
        position: relative;
        padding: 1rem 1rem 3rem 1rem;
        row-gap: 2rem;
    }
    .wrapper {
        margin: 0;
    }
}

@media (min-width:1024px) and (max-width:1439px) {
    img {
        max-height: 17rem;
    }
    .section_recettes {
        background-color: #eaeaea;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-top: -4px;
    }
    /*.article {
        width: 320px;
    }*/
    .entrees_plats_desserts {
        display: flex;
        flex-direction: column;
    }
    .articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .propositions_footer {
        column-gap: 2rem;
    }
    .wrapper {
        margin: 0;
    }
}

@media (min-width:1440px) {
    .propositions_footer {
        column-gap: 2rem;
    }
    .entrees_plats_desserts {
        display: flex;
        justify-content: space-between;
        column-gap: 5rem;
        /*width: 1024px;*/
    }
    .section_recettes {
        display: flex;
        flex-direction: column;
        background-color: #eaeaea;
        position: relative;
        padding: 1rem 1rem 3rem 1rem;
        row-gap: 2rem;
    }
    img {
        max-height: 24rem;
    }
    .image {
        background-color: #eaeaea;
    }
    .titre_like {
        column-gap: 5rem;
    }
    .article {
        padding: .5rem
    }
}

@media (min-width:800px) and (max-width:1023px) {
    .articles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
}