@keyframes apparition_coche {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disparition_coche {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}