@keyframes apparition_coche {
    0% {
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
}

@keyframes disparition_coche {
    0% {
        opacity: 1;
    }
    40%{
        opacity: .2;
    }
    100% {
        opacity: 0;
    }
}
