/*
Spinner par https://loading.io/css/
*/

@import '../themes/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $grey-medium;
    z-index: 1;
    animation: loading 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
    &__titre {
        font-family: "Shrikhand", 'cursive';
    }
    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: #fff;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
        background: $color-primary;
    }
    .lds-facebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
        background: $color-secondary;
    }
    .lds-facebook div:nth-child(3) {
        left: 56px;
        animation-delay: 0s;
        background: $color-tertiary;
    }
    @keyframes lds-facebook {
        0% {
            top: 8px;
            height: 64px;
        }
        50%,
        100% {
            top: 24px;
            height: 32px;
        }
    }
    @keyframes loading {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: -1;
        }
    }
}